<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Project manager{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="login" style="float:right">
                {% if app.user %}
                    Witaj {{ app.user.username }}
                    <a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a> |
                    <a href="{{ path('fos_user_registration_register') }}">Rejestracja</a>
                {% endif %}
            </div>
            <div class="nav_menu">
                <div class="btn btn-default"><a href="{{ path('project_list') }}">Moje projekty</a></div>
                <div class="btn btn-default"><a href="{{ path('task_list') }}">Moje zadania</a></div>
            </div>
            <hr/>

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
