{% extends 'base.html.twig' %}

{% block body %}

    <div class="pl_content">
        <h1>Projekty</h1>
        <hr/>

        {% if app.user %}

            {% for project in projects %}
                <div class="pl_project">
                    <a href={{ path('project_detail', {'id': project.id}) }}>{{ project.name }}</a>
                    (zrealizowano: {{ project.advance|round }}%)
                    {% if project.customer %}
                        <div>Klient: {{ project.customer }}</div>
                    {% endif %}
                </div>
                <hr/>
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(projects) }}
            </div>

        {% else %}
            <div>
                <p>Aby zobaczyć projekty musisz być zalogowany.</p>
                <p>Zapraszamy do strony <a href="{{ path('fos_user_security_login') }}">logowania</a></p>
            </div>
        {% endif %}

    </div>

{% endblock %}