{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}

        <div class="project_content">

            <h1>{{ project.name }}</h1>
            <hr/>

            <div class="task_detail">
                {% for task in tasks %}
                    <div><a href={{ path('task_show', {'id': task.id}) }}>{{ task.name }}</a></div>
                    <div>Utworzone: {{ task.createdAt|date("d-m-Y H:i:s") }}</div>
                    <div>Priorytet: {{ task.priority }}</div>
                    <div>Status: {{ task.status }}</div>
                    <hr/>
                {% else %}
                    <div>Projekt nie żadnych zadań</div>
                {% endfor %}
            </div>

            <div class="navigation">
                {{ knp_pagination_render(tasks) }}
            </div>
        </div>

        <div class="btn">
            <a href={{ path('project_list') }}>Cofnij</a>
        </div>

    {% else %}

        <div>
            <p>Aby zobaczyć stronę musisz być zalogowany.</p>
            <p>Zapraszamy do strony <a href="{{ path('fos_user_security_login') }}">logowania</a></p>
        </div>

    {% endif %}

{% endblock %}