{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}

        <div class="task_container">
            <h2>{{ task.name }}</h2>
            <div>Utworzone: {{ task.createdAt|date("d-m-Y H:i:s") }}</div>
            <div>Priorytet: {{ task.priority }}</div>
            <div>Projekt: {{ project_name }}</div>
            <div>
                Pracownik:
                {% if task.user %}
                    <ul>
                        <li>użytkownik: {{ task.user.username }}</li>
                        <li>imię: {{ first_name }}</li>
                        <li>nazwisko: {{ last_name }}</li>
                        <li>email: {{ task.user.email }}</li>
                    </ul>
                {% else %}
                    Nieprzydzielony
                {% endif %}

            </div>
            <div>Opis: {{ task.description }}</div>
        </div>

        <div class="btn-list">
            <div><a href="{{ path('project_detail', {'id': project_id}) }}">Powrót do projektu</a></div>
            <div><a href="{{ path('task_list') }}">Powrót do zadań</a></div>
        </div>
    {% else %}
        <div>
            <p>Aby zobaczyć stronę musisz być zalogowany.</p>
            <p>Zapraszamy do strony <a href="{{ path('fos_user_security_login') }}">logowania</a></p>
        </div>
    {% endif %}

{% endblock %}