{% extends 'base.html.twig' %}

{% block body %}

    <div class="tl_content">
        <h1>Zadania</h1>
        <hr/>

        {% if app.user %}

            {% for task in tasks %}
                <div><a href={{ path('task_show', {'id': task.id}) }}>{{ task.name }}</a></div>
                <div>Utworzone: {{ task.createdAt|date("m-d-Y H:i:s") }}</div>
                <div>Priorytet: {{ task.priority }}</div>
                <div>Status: {{ task.status }}</div>
                <hr/>
            {% else %}
                <div>Nie masz żadnych zadań</div>
            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(tasks) }}
            </div>

        {% else %}
            <div>
                <p>Aby zobaczyć zadania musisz być zalogowany.</p>
                <p>Zapraszamy do strony <a href="{{ path('fos_user_security_login') }}">logowania</a></p>
            </div>
        {% endif %}

    </div>

    <div><a href="{{ path('project_list') }}">Powrót do listy projektów</a></div>

{% endblock %}